fastapi
pydantic
numpy
requests
uvicorn
pymongo
sqlalchemy
fastembed
transformers
qdrant-client
faiss-cpu
tiktoken
voyageai
huggingface_hub
pandas
defusedxml
docling
langchain
langchain-text-splitters
